{
  "releases": {
    "20-release": "C:\\Program Files\\MongoDB 2.0 Standard\\bin",
    "22-release": "C:\\Program Files\\MongoDB 2.2 Standard\\bin",
    "24-release": "C:\\Program Files\\MongoDB 2.4 Standard\\bin",
    "26-release": "C:\\Program Files\\MongoDB 2.6 Standard\\bin",
    "27-nightly": "C:\\Program Files\\MongoDB 2.7 Nightly\\bin"
  },
  "last_updated": "Thu 07/31/2014"
}
